
.Layout{
  display: flex;
  flex-direction: column;
  text-align: center; 
  background-color: #000;
  margin: auto auto;
  height: 100vh;
  padding: 0 0rem;
  max-width: 100rem;
  min-width: 230px;
  font-family: var(--lobster);
};
