.todoList-box {
	display: flex;
	flex-direction: column;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}
.todoList-banner {
	min-width: 230px;
	font-size: 1.3rem;
	color: rgb(91, 187, 255);
	text-shadow: -8px 1px 110px #ff00d4; /* Apple #e06c78; */ /*red #ff0000; */
}
.todoList-ul {
	padding: 2.0rem 2.0rem;
	color: rgb(999, 255, 187);
	list-style: none; 
	min-width: 230px;
	width: 100%;
	max-width: 900px;
}
.todoList-ul:hover {
	color: #ffff;
	box-shadow: -2px -2px 92px #999eeb40, -2px -2px 99px #999eeb90; /* Apple #e06c78; */ /*red #ff0000; */
	text-shadow: -8px 1px 22px #ffff; /* Apple #e06c78; */ /*red #ff0000; */
}
.todoList-cheatmodes {
	font-size: 0.8rem;
	width: auto;
	min-width: 300px;
	max-width: 300px;
	padding: 0 5.6rem;
	margin: 0 auto;
	margin-top: 1rem;
	color: var(--white);
}
// @media (min-width: 400px) {}
// @media (min-width: 900px) {}