.todoList-box {
	display: block;
	gap: 1rem;
	grid-auto-rows: 22;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.todoList-banner {
	font-size: 1.3rem;
	margin-top: -4px;
	margin-bottom: 0;
	text-align: center;
	/* background-color: #999eeb10; */
	color: /* #999eeb10 */ /* Orange  *//* #ff9d22; *//* #23d363; *//* Blue; */
		rgb(91, 187, 255); /*Apple #e06c78 */ /*Red #c43336 #ff0000; */
	text-shadow: -8px 1px 110px #ff00d4; /* Apple #e06c78; */ /*red #ff0000; */
	list-style: none;
}

.todoList-ul {
	color: rgb(999, 255, 187);
	border-left: 2em;
	padding-right: 2em;
	padding-top: 1rem;
	padding-bottom: 1rem;
	/* list-style: none; */
}

.todoList-ul:hover {
	color: #ffff;
	box-shadow: -2px -2px 92px #999eeb40, -2px -2px 99px #999eeb90; /* Apple #e06c78; */ /*red #ff0000; */
	text-shadow: -8px 1px 22px #ffff; /* Apple #e06c78; */ /*red #ff0000; */
}
.todoList-cheatmodes {
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.todoList-cheatmodes > p {
	color: #fff;
	box-sizing: border-box;
	margin: 28px;
}
@media (min-width: 400px) { 
	.todoList-cheatmodes > p {
		margin: 0px;
	}
}
@media (min-width: 800px) { /* en el celular no se ve igual*/
	.todoList-cheatmodes > p {
		margin: 0 320px 0 320px;
	}
}