.Modal {
  // position: fixed;
	// margin: 0;
	// padding: 0;
	background-color: crimson;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 30px;
	border-top: 0.1px;
	// margin-top: -65vh;
	color: white;
	z-index: 9;
  outline: 4px solid orange;
	width: 100%;
	position: absolute;
	margin: -60rem 0;
	// height: 100vh; //todo fix
};