.Modal {
	background-color: crimson;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 30px;
	color: white;
	z-index: 9;
	width: auto;
	position: absolute;
	border-radius: 2px;
	margin: -62rem 6rem;
};