body {
	margin: 1rem;
	background: white;
	color: #400eeb90;
	font-family: Consolas, source-code-pro, Menlo, Monaco, Consolas, "Arial",
		Arial;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Arial", Arial;
}
 */
#root {
	margin: 1rem 1rem;
	position: relative;
	background-color: #999eeb10; /*Orange #ff9d22 */ /*Cian #23d363 */ /*Blue #237dd1 */ /*Apple #e06c78 */ /*Red #c43336 */
	min-width: 100hv;
	font-size: 1.3em;
	font-family: "Consolas", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
